<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li role="presentation" 
              class="nav-item" 
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/" class="nav-link">Home</a>
          </li>
          <li role="presentation" 
              class="nav-item" 
              routerLinkActive="active">
            <a routerLink="recipes" class="nav-link">Recipes</a>
          </li>
          <li role="presentation" 
              class="nav-item" 
              routerLinkActive="active">
            <a [routerLink]="['warning']" class="nav-link">Warning</a>
          </li>
        </ul>
        <br>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> 